main {
    display: grid;
    background-color: rgb(51,50,82);
    border: 8px solid rgb(132,110,141);
    min-width: 30vw;
    min-height: 30vw;
    border-radius: 5px;
    margin: 1em;
}

.Cell {
    width: 15;
    height: 15;
    border: solid 1px rgb(54, 53, 90);
}

