.Controls {
    min-width: 20vw;
    display: flex;
    justify-content: space-evenly;
}

.CleanIcon {
    width: 25px;
    height: 25px;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

@media (max-width: 460px) {
    .Controls {
        min-width: 70vw;
    }
}